.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.allRestaurant {
  padding: 20px;
}

.form-elements {
  width: 500px;
}

.checked {
  color: orange;
}

mat-icon {
  cursor: pointer;
  margin-bottom: 20px;
}

mat-raised-button {
  align-items: center;
  align-self: center;
  align-content: center;
  width: 500px;
}

mat-card {
  margin: 20px;
  padding: 20px;
  outline-style: double;
}
