<div class="container-restaurant">
  <div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Restaurant Name</mat-label>
        <input matInput placeholder="Restaurant's Name" [(ngModel)]="restaurantRecords.name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Owner of restaurant</mat-label>
        <input matInput placeholder="Adam Owner" [(ngModel)]="restaurantRecords.owner" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Contact Mobile Number</mat-label>
        <input matInput placeholder="+36 30 123-4567" [(ngModel)]="restaurantRecords.mobile" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="rest@restaurant.com" [(ngModel)]="restaurantRecords.email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Restaurant Location</mat-label>
        <input matInput placeholder="New Komarom" [(ngModel)]="restaurantRecords.location" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-elements">
        <mat-label>Rating Given</mat-label>
        <mat-select [(ngModel)]="selectedStar" [(value)]="restaurantRecords.rating">
          <mat-option
            *ngFor="let options of maxRatingArr; let index = index"
            (click)="SetRating(index)"
            [value]="index + 1"
            >{{ options + 1 }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-icon
        *ngFor="let icon of maxRatingArr; let index = index"
        (mouseenter)="HandleMouseEnter(index)"
        (mouseleave)="HandleMouseLeave()"
        (click)="SetRating(index)"
        [ngClass]="{ checked: selectedStar > index }"
      >
        star
      </mat-icon>
    </div>
    <div>
      <button mat-raised-button (click)="addRecords()" type="button" color="primary">Add New Records</button>
    </div>
  </div>
</div>
