.container-restaurant {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-elements {
  width: 500px;
}

.checked {
  color: orange;
}

mat-icon {
  cursor: pointer;
  margin-bottom: 20px;
}

mat-raised-button {
  align-items: center;
  align-self: center;
  align-content: center;
  width: 500px;
}
